* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Code', monospace;
  background: rgb(32, 168, 252) url('https://source.unsplash.com/random?pool') no-repeat center /
    cover;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.timer-container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 30px 40px;
}

.timer-container .timer {
  font-size: 5rem;
  grid-column: 1 / -1;
  grid-row: 2 /3;
  justify-self: center;
  align-self: center;
}

.timer-container div:nth-child(-n + 3) {
  font-size: 2rem;
  grid-row: 1 / 2;
  align-self: center;
}

.timer-container .min {
  grid-column: 1 / 2;
  justify-self: start;
}

.timer-container .sec {
  grid-column: 2 / 3;
  justify-self: center;
}
.timer-container .msec {
  grid-column: 3 / 4;
  justify-self: end;
}

/* buttons */

.timer-container .buttons {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
}

.timer-container .buttons .btn {
  margin: 20px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
}

.timer-container .buttons i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  width: 100%;
}

.timer-container .buttons .btn:hover i {
  color: rgba(255, 255, 255, 1);
}

/* play button */
.timer-container .buttons .play-btn {
  background-color: rgba(14, 186, 14, 0.8);
}

.timer-container .buttons .play-btn:hover {
  background-color: rgba(14, 186, 14, 1);
}

/* pause button */
.timer-container .buttons .pause-btn {
  background-color: rgba(255, 165, 0, 0.8);
}

.timer-container .buttons .pause-btn:hover {
  background-color: rgba(255, 165, 0, 1);
}

/* reset button */
.timer-container .buttons .reset-btn {
  background-color: rgba(244, 11, 7, 0.8);
}

.timer-container .buttons .reset-btn:hover {
  background-color: rgba(244, 11, 7, 1);
}

/* media queries */

@media screen and (max-width: 450px) {
  body {
    display: block;
    width: 80%;
    margin: 40px auto;
  }

  .timer-container {
    padding: 40px 30px;
  }

  .timer-container div:nth-child(-n + 3) {
    display: none;
  }

  .timer-container .timer {
    font-size: 3.4rem;
  }

  .timer-container .buttons .btn {
    margin-top: 10px;
  }
}
